.cart-wrapper{
    width: 75%;
    margin: 20px auto;
}
.cart-title{
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 3px #c0c0c0;
    margin: 6px 0;
    img{
        width: 70px;
        margin-right: 10px;
    }
    .cart-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
    }
    button{
        display: inline-block;
        background: #2a5ea5;
        border: 0;
        color: #c0c0c0;
        padding: 7px;
        border-radius: 6px;
    }
}
